<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marculator.comp3717" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- this is the main page activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
         Add Course Screen this is where the user can choose
         to add a course with related fields for marcks calculations
        -->
        <activity
            android:name=".templatesScreen"
            android:label="@string/title_activity_templates_screen" >
        </activity>

>




        <!--
        View Details Screen where the user can view
        details of their marks.  this activity is currently not connected
        to the home page
        -->
        <activity
            android:name=".inputMarksScreen"
            android:label="@string/title_activity_input_marks_screen" >
        </activity>

        <activity
            android:name=".courseDetailsScreen"
            android:label="@string/title_activity_course_details_screen" >
        </activity>
    </application>

</manifest>
